<!-- 
 <div class="container-fluid" style="background-color:rgb(19, 3, 2);color:#fff;height:60px;">
    <h1>Satellite Viewer</h1> 
    <img src="assets/images/Aryabhata_Satellite.jpg" alt="Satellite" style="width:50px;height:50px;">   
  </div>  -->
<!-- <div class="w3-container top">
      <a class="w3schools-logo" href="//www.w3schools.com">w3schools<span class="dotcom">.com</span></a>
      <div class="w3-right w3-hide-small w3-wide toptext" style="font-family:'Segoe UI',Arial,sans-serif">THE WORLD'S LARGEST WEB DEVELOPER SITE</div>
    </div> -->

<!--  <nav class="navbar navbar-inverse" >
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Basic Topnav</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
  </nav>

<div class="w3-sidebar w3-bar-block w3-collapse w3-card w3-animate-left" style="width:200px;" id="mySidebar">
  <button class="w3-bar-item w3-button w3-large w3-hide-large" onclick="w3_close()">Close &times;</button>
  <a class="w3-bar-item w3-button" href="#">Link 1</a>
  <a class="w3-bar-item w3-button" href="#">Link 2</a>
  <a class="w3-bar-item w3-button" href="#">Link 3</a>
</div>
-->


  <!-- Sidebar -->
 <!-- Sidebar -->

<!-- <div class="w3-sidebar w3-bar-block  w3-animate-left" style="display:none;z-index:5" id="mySidebar" #mySidebar>
    <button class="w3-bar-item w3-button w3-large " (click)="w3_close()">Close &times;</button>
     <app-sat-display></app-sat-display>
  </div>

  
  <span class="w3-button w3-white w3-xxlarge" (click)="w3_open()">&#9776;</span>   -->

<!--   
  <div class="w3-bar w3-green">
      <div class="w3-bar-item">Satellite</div>
      <div class="w3-bar-item">Search Based on : </div>
      <div class="w3-bar-item"><input class="w3-input" type="text"></div>
    </div>
 -->
  <div class="row">  
      <div class="col-sm-2">
  <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:14%">
      <div class="w3-container w3-rightbar w3-pale-grey w3-border-green">
      <h3 class="w3-bar-item">Display based on:</h3>
      <app-sat-display></app-sat-display>
    </div>
</div>
</div>



  <div class="col-sm-6">
      <app-display></app-display>
    </div>
    <!-- <div class="col-sm-1">
      
      </div> -->
    <div class="col-sm-4">
      <app-display-sat></app-display-sat>
    </div>
</div>

