
<div class="w3-container">
    <h2>  </h2>
    <p> </p>
  
    <div class="w3-card-4" style="width:70%;">
      <header class="w3-container w3-green">
        <h1>{{sat.Name}}</h1>
      </header>
  
      <div class="w3-container">
        <p>Country register in UN : {{sat.Country_Org_of_UN_Registry}}</p>
       
	<p>Operator : {{sat.Country_of_Operator_Owner}}</p>
	<p>Owner : {{sat.Operator_Owner}}</p>
	<p>Users : {{sat.Users}}</p>
	<p>Purpose : {{sat.Purpose}}</p>
	<p>Detailed Purpose : {{sat.Detailed_Purpose}}</p>
	<p>Class of Orbit : {{sat.Class_of_Orbit}}</p>
	<p>Type of Orbit : {{sat.Type_of_Orbit}}</p>
	<p>Longitude of GEO (degrees} : {{sat.Longitude_of_GEO_indegrees}}</p>
	<p>Perigee (km) : {{sat.Perigee_km}}</p>
	<p>Apogee (km) : {{sat.Apogee_km}}</p>
	<p>Eccentricity : {{sat.Eccentricity}}</p>
	<p>Inclination_indegrees : {{sat.Inclination_indegrees}}</p>
	<p>Period (inminutes) :  {{sat.Period_inminutes}}</p>
	<p>Launch Mass (kg) : {{sat.Launch_Mass_inkg}}</p>
	<p>Dry Mass (kg) :{{sat.Dry_Mass_kg}}</p>
	<p>Power (watts) :{{sat.Power_watts}}</p>
	<p>Date of Launch: {{sat.Date_of_Launch}}</p>
	<p>Expected Lifetime : {{sat.Expected_Lifetime}}</p>
	<p>Contractor : {{sat.Contractor}}</p>
	<p>Country of Contractor : {{sat.Country_of_Contractor}}</p>
	<p>Launch_Site : {{sat.Launch_Site}}</p>
	<p>Launch_Vehicle : {{sat.Launch_Vehicle}}</p>
	<p>COSPAR_Number : {{sat.COSPAR_Number}}</p>
	<p>NORAD_Number: {{sat.NORAD_Number}}</p>
	<p> Comment  : {{sat.Comments}} {{sat.Comment2}} </p>
	<p>Orbital Data : {{sat.Source_Used_for_Orbital_Data}}</p>
	<p>Sources :{{sat.Source1}} {{sat.Source2}} {{sat.Source3}} {{sat.Source4}} {{sat.Source5}} {{sat.Source6}}</p>

      </div>
  
    <!--   <footer class="w3-container w3-green">
        <h5>Footer</h5>
      </footer> -->
    </div>
  </div>